html {
    background-color: #003;
    color: #FFD;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#input {
    position: fixed;
    left: -9999px;
}